* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
    font-family: 'Lato', sans-serif;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    padding-top: 18px;
    padding-bottom: 19px;
    background: #222222;
}


.header__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 859px;
}

.header__img__left {
    display: flex;
    gap: 41px;
    width: 111px;
}

.header__img__right {
    display: flex;
    gap: 33px;
    width: 159px;
}

.top__content {
    display: flex;
    flex-wrap: wrap;
    background: #F1E4E6;
    margin-bottom: 65px;
    gap: 39px;
}

.img__man {
    width: 800px;
    height: 764px;
}

.title {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: row;
    align-items: center;
}

.top__rectangle {
    background: #F16D7F;
}

.top__title {
    max-width: 377px;
    color: #222222;
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
}

.small {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.pink__text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.offer__item {
    position: relative;
    text-align: center;
}

.offer__item__big {
    position: relative;
    text-align: center;
}

.offer__text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.offer__text__big {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: #fff;
}

.h2__text__big {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;

}

.h2__text {
    color: #F16D7F;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
}

.title__products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 96px;
    color: #222222;
    margin-bottom: 48px;
}

.h3__products__title {
    font-family: Lato;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.text__products {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #9F9F9F;
}

.sales {
    row-gap: 25px;
    column-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 48px;
}

.sales__item {
    background: #F8F8F8;
    width: 360px;
}

.sales__name {
    padding-left: 16px;
    padding-top: 24px;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;

}

.sales__desc {
    padding-left: 16px;
    margin-top: 16px;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #5D5D5D;
    text-align: left;
    width: 315px;
}

.sales__price {
    padding-left: 16px;
    margin-top: 16px;
    padding-bottom: 24px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #F16D7F;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    padding-top: 15px;
    padding-bottom: 14px;
}

.browse {
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border: 1px solid #FF6A6A;
    width: 212px;
    height: 48px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #F26376;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 384px);
        padding-right: calc(50% - 384px);
    }

    .header__img {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 424px;
    }

    .header__img__right {
        width: 169px;
        display: flex;
        gap: 25px;
    }

    .top__content {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 39px;
    }

    .img__man {
        width: 386px;
        height: 368px;
    }

    .title {
        width: 311px;
    }

    .top__title {
        width: 283px;
        font-family: Lato;
        font-size: 44px;
        font-weight: 900;
        line-height: 53px;
    }

    .small {
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }

    .pink__text {
        font-family: Lato;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
    }

    .offer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .offer__item {
        width: 232px;
    }

    .offer__item__big {
        width: 735px;
    }

    .title__products {
        display: flex;
        gap: 3px;
        margin-top: 110px;
        margin-bottom: 73px;
    }

    .text__products {
        margin-bottom: 0;
    }

    .sales {
        width: 100%;
        display: flex;
        column-gap: 15px;
        row-gap: 15px;
        margin-bottom: 32px;
    }

    .sales__name {
        padding-left: 18px;
        margin-bottom: 12px;
    }

    .sales__desc {
        margin-top: 0;
        margin-bottom: 18px;
    }

    .sales__price {
        margin-top: 0;
        padding-left: 18px;
        padding-bottom: 20px;
    }
}